body{
    background-image: url(fundo.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face {
    font-family: Oswald;
    src: url("Oswald-VariableFont_wght.ttf");
}

div {
    background-color: azure;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    height: 40%;
}