*{
    margin: 0;
    padding: 0;
}

table{
    border: 1px solid;
    width: 18%;
    height: 18rem;
    margin-left: 40rem;
}

table tr td{
    border: 2px solid;
    border-style: groove;
    border-radius: 0.1rem;
    border-width: 5px;
    border-color: aquamarine;
}

body .um{
    width: 14%;
    height: 14rem;
    margin-left: 43rem;
}

body .dois{
    width: 23%;
    height: 23rem;
}

